<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Advocate Signup Page &mdash; Talkable Documentation</title>
    
    <link rel="stylesheet" href="../../_static/talkable.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '0.1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Talkable Documentation" href="../../index.html" />
    <link rel="up" title="Views" href="../views.html" />
    <link rel="next" title="Advocate Share Page" href="offers_show.html" />
    <link rel="prev" title="Views" href="../views.html" /><link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link href="../../_static/pygments-github.css" rel="stylesheet">
  <link href="../../_static/img/favicon.ico" rel="shortcut icon" />
  </head>
  <body>
  
    <div class="header">
      <a href="../../index.html" class="header-logo">Talkable docs</a>
          <form class="header-search" action="../../search.html" method="get">
            <input type="text" class="textfield header-search-field" name="q" placeholder="Search docs" />
            <input type="submit" class="button header-search-button" value="Search" />
            <input type="hidden" name="check_keywords" value="yes" />
            <input type="hidden" name="area" value="default" />
          </form>
      <div class="header-disclaimer">
        Visit
        <a href="https://www.talkable.com" target="_blank">www.talkable.com</a>
      </div>
    </div> <!-- /.header -->
  

  <div class="content-container content clearfix">
      <div class="nav">
        <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../ecommerce.html">E-Commerce Integrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../standalone.html">Standalone Integrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../saas.html">SaaS Integrations</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../campaigns.html">Talkable Campaigns</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="../views.html">Views</a><ul class="current">
<li class="toctree-l3 current"><a class="current reference internal" href="">Advocate Signup Page</a></li>
<li class="toctree-l3"><a class="reference internal" href="offers_show.html">Advocate Share Page</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_email.html">Advocate Offer Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_share_via_email.html">Friend Share Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_share_via_email_reminder.html">Friend Share Email Reminder</a></li>
<li class="toctree-l3"><a class="reference internal" href="offers_claim.html">Friend Claim Page</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_rewards_confirmation.html">Advocate/Friend Reward Confirmation Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_rewards_paid.html">Advocate Reward Paid Email</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../tutorials.html">Tutorials</a></li>
<li class="toctree-l2"><a class="reference internal" href="../editor.html">Editor</a></li>
<li class="toctree-l2"><a class="reference internal" href="../designer.html">Designer</a></li>
<li class="toctree-l2"><a class="reference internal" href="../offers_expiration.html">Offers Expiration</a></li>
<li class="toctree-l2"><a class="reference internal" href="../localization.html">Localization</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../optional.html">Optional Features</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../web_hooks.html">Web Hooks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../api_v2.html">API Reference</a></li>
</ul>

      </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <span class="target" id="campaigns-views-affiliate-members-new"></span><div class="section" id="advocate-signup-page">
<span id="advocate-signup-page-view"></span><h1>Advocate Signup Page<a class="headerlink" href="#advocate-signup-page" title="Permalink to this headline">¶</a></h1>
<p>Advocate referral program sign up page (only for Standalone Campaign). On this page Advocate signs up by
entering his email address.
<br>
<br></p>
<img alt="Advocate signup" src="../../_images/advocate-signup.png" />
<h4>Default template markup:</h4><div class="highlight-html"><div class="highlight"><pre><span class="nt">&lt;form</span> <span class="na">accept-charset=</span><span class="s">&quot;UTF-8&quot;</span> <span class="na">action=</span><span class="s">&quot;{{ create_affiliate_member_path }}&quot;</span> <span class="na">method=</span><span class="s">&quot;post&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;email&quot;</span> <span class="na">name=</span><span class="s">&quot;affiliate_member[email]&quot;</span> <span class="na">placeholder=</span><span class="s">&quot;Your Email Address&quot;</span> <span class="na">required</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="na">value=</span><span class="s">&quot;Sign up&quot;</span> <span class="na">data-disable-with=</span><span class="s">&quot;Please wait&quot;</span> <span class="na">name=</span><span class="s">&quot;commit&quot;</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;/form&gt;</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Do not change <tt class="docutils literal"><span class="pre">name</span></tt> and form <tt class="docutils literal"><span class="pre">action</span></tt> attributes, otherwise functionality won&#8217;t work.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  </div> <!-- /.content-container -->
  </body>
</html>
