<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Friend Claim Email &mdash; Talkable Documentation</title>
    
    <link rel="stylesheet" href="../../_static/talkable.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '0.1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Talkable Documentation" href="../../index.html" />
    <link rel="up" title="Views" href="../views.html" />
    <link rel="next" title="Advocate Redemption Email" href="notifier_rewards_origins_referrer_confirmation.html" />
    <link rel="prev" title="Friend Claim Page" href="offers_claim.html" /><link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link href="../../_static/pygments-github.css" rel="stylesheet">
  <link href="../../_static/img/favicon.ico" rel="shortcut icon" />
  </head>
  <body>
  
    <div class="header">
      <a href="../../index.html" class="header-logo">Talkable docs</a>
          <form class="header-search" action="../../search.html" method="get">
            <input type="text" class="textfield header-search-field" name="q" placeholder="Search docs" />
            <input type="submit" class="button header-search-button" value="Search" />
            <input type="hidden" name="check_keywords" value="yes" />
            <input type="hidden" name="area" value="default" />
          </form>
      <div class="header-disclaimer">
        Visit
        <a href="http://talkable.com" target="_blank">www.talkable.com</a>
      </div>
    </div> <!-- /.header -->
  

  <div class="content-container content clearfix">
      <div class="nav">
        <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../ecommerce.html">E-Commerce Integrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../standalone.html">Standalone Integrations</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../campaigns.html">Talkable Campaigns</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="../views.html">Views</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="affiliate_members_new.html">Advocate Signup Page</a></li>
<li class="toctree-l3"><a class="reference internal" href="offers_show.html">Advocate Share Page</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_email.html">Advocate Offer Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_share_via_email.html">Friend Share Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_share_via_email_reminder.html">Friend Share Email Reminder</a></li>
<li class="toctree-l3"><a class="reference internal" href="offers_claim.html">Friend Claim Page</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="">Friend Claim Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_rewards_origins_referrer_confirmation.html">Advocate Redemption Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_rewards_paid.html">Advocate Reward Paid Email</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../tutorials.html">Tutorials</a></li>
<li class="toctree-l2"><a class="reference internal" href="../editor.html">Editor</a></li>
<li class="toctree-l2"><a class="reference internal" href="../designer.html">Designer</a></li>
<li class="toctree-l2"><a class="reference internal" href="../offers_expiration.html">Offers Expiration</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../optional.html">Optional Features</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../web_hooks.html">Web Hooks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../api.html">API Reference (v1)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../api_v2.html">API Reference (v2)</a></li>
</ul>

      </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <span class="target" id="campaigns-views-notifier-offers-claim"></span><div class="section" id="friend-claim-email">
<span id="notifier-offers-claim-view"></span><h1>Friend Claim Email<a class="headerlink" href="#friend-claim-email" title="Permalink to this headline">¶</a></h1>
<p>Main purpose of this email is to send a Reward via email, and remind about
it in the future. <br>
Email is triggered to a Friend who passed Email Gating and received Reward
(i.e. coupon code). <br>
Friend Claim Email is a good fit for email capture: reward Friend for
getting his email. See <a class="reference internal" href="../tutorials/offers_claim.html#tutorials-email-gating"><em>Email Gating</em></a> for more details.</p>
<p>Frequently used Variables:</p>
<ul class="simple">
<li>Main <abbr title="Call to action">CTA</abbr> should point to a merchant site to start shopping
<tt class="docutils literal"><span class="pre">{{</span> <span class="pre">proceed_to_merchant_path</span> <span class="pre">}}</span></tt>.</li>
<li>To show coupon code use <tt class="docutils literal"><span class="pre">{{</span> <span class="pre">coupon_code</span> <span class="pre">}}</span></tt>.</li>
<li>To show expiration date use <tt class="docutils literal"><span class="pre">{{</span> <span class="pre">valid_until</span> <span class="pre">}}</span></tt>.
<a class="reference internal" href="../editor/filters.html#liquid-filter-format-date"><em>Formatting options</em></a>.</li>
</ul>
<p><br></p>
<img alt="Friend Claim Email" src="../../_images/friend-claim-email.png" />
<p><br></p>
<div class="highlight-html"><div class="highlight"><pre>Here is your {{ incentives.click.description }} OFF deal you just claimed!
Use it on any purchase by {{ valid_until }}
Coupon code: {{ coupon_code }}
<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{{ proceed_to_merchant_path }}&quot;</span><span class="nt">&gt;</span>Shop now<span class="nt">&lt;/a&gt;</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Ideal email width is 480px. This is a most universal width for both
mobile and desktop platforms.
<a class="reference internal" href="../designer.html#designer-email"><em>Read more about email design</em></a>.</p>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">It&#8217;s possible to set multiple delays for this email, see <a class="reference internal" href="../editor/extra.html#editor-delayed-emails"><em>Delayed email sending</em></a>.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  </div> <!-- /.content-container -->
  </body>
</html>