<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Advocate/Friend Reward Confirmation Email &mdash; Talkable Documentation</title>
    
    <link rel="stylesheet" href="../../_static/talkable.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '0.1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Talkable Documentation" href="../../index.html" />
    <link rel="up" title="Views" href="../views.html" />
    <link rel="next" title="Advocate Reward Paid Email" href="notifier_rewards_paid.html" />
    <link rel="prev" title="Friend Claim Page" href="offers_claim.html" /><link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link href="../../_static/pygments-github.css" rel="stylesheet">
  <link href="../../_static/img/favicon.ico" rel="shortcut icon" />
  </head>
  <body>
  
    <div class="header">
      <a href="../../index.html" class="header-logo">Talkable docs</a>
          <form class="header-search" action="../../search.html" method="get">
            <input type="text" class="textfield header-search-field" name="q" placeholder="Search docs" />
            <input type="submit" class="button header-search-button" value="Search" />
            <input type="hidden" name="check_keywords" value="yes" />
            <input type="hidden" name="area" value="default" />
          </form>
      <div class="header-disclaimer">
        Visit
        <a href="https://www.talkable.com" target="_blank">www.talkable.com</a>
      </div>
    </div> <!-- /.header -->
  

  <div class="content-container content clearfix">
      <div class="nav">
        <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../ecommerce.html">E-Commerce Integrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../standalone.html">Standalone Integrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../saas.html">SaaS Integrations</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../campaigns.html">Talkable Campaigns</a><ul class="current">
<li class="toctree-l2 current"><a class="reference internal" href="../views.html">Views</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="affiliate_members_new.html">Advocate Signup Page</a></li>
<li class="toctree-l3"><a class="reference internal" href="offers_show.html">Advocate Share Page</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_email.html">Advocate Offer Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_share_via_email.html">Friend Share Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_offers_share_via_email_reminder.html">Friend Share Email Reminder</a></li>
<li class="toctree-l3"><a class="reference internal" href="offers_claim.html">Friend Claim Page</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="">Advocate/Friend Reward Confirmation Email</a></li>
<li class="toctree-l3"><a class="reference internal" href="notifier_rewards_paid.html">Advocate Reward Paid Email</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../tutorials.html">Tutorials</a></li>
<li class="toctree-l2"><a class="reference internal" href="../editor.html">Editor</a></li>
<li class="toctree-l2"><a class="reference internal" href="../designer.html">Designer</a></li>
<li class="toctree-l2"><a class="reference internal" href="../offers_expiration.html">Offers Expiration</a></li>
<li class="toctree-l2"><a class="reference internal" href="../localization.html">Localization</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../optional.html">Optional Features</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../web_hooks.html">Web Hooks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../api_v2.html">API Reference</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../ios_sdk.html">Talkable iOS SDK</a></li>
</ul>

      </div>


    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <span class="target" id="campaigns-views-notifier-rewards-confirmation"></span><div class="section" id="advocate-friend-reward-confirmation-email">
<span id="notifier-rewards-confirmation"></span><h1>Advocate/Friend Reward Confirmation Email<a class="headerlink" href="#advocate-friend-reward-confirmation-email" title="Permalink to this headline">¶</a></h1>
<p>Main purpose of this email is to send a Reward via email, and remind about
it in the future. <br>
Email is triggered to a <abbr title="Person, who shares an offer with his Friend(s)">Advocate</abbr> or a <abbr title="Person, who is invited to participate in Campaign by Advocate">Friend</abbr> who passed Email Gating, and received Reward
(i.e. coupon code). <br></p>
<p>Use Email sending condition to differentiate <abbr title="Person, who shares an offer with his Friend(s)">Advocate</abbr> from <abbr title="Person, who is invited to participate in Campaign by Advocate">Friend</abbr> email.</p>
<p>Here is an example of a Friend Reward Confirmation Email:</p>
<pre>{% if reward.incentive.identifier == 'click' %}
  true
{% endif %}</pre><img alt="../../_images/friend_confirmation_sending_criteria.png" src="../../_images/friend_confirmation_sending_criteria.png" />
<p>The email will be sent once Talkable knows Friend&#8217;s email which they provides on the Friend Claim Page (such technique works great for email capturing). See <a class="reference internal" href="../tutorials/offers_claim.html#tutorials-email-gating"><em>Email Gating</em></a> for more details.</p>
<p>You can see your Incentive identifier inside Campaign Rules:</p>
<img alt="../../_images/incentive_identifier.png" src="../../_images/incentive_identifier.png" />
<p>Frequently used Variables:</p>
<ul class="simple">
<li>Main <abbr title="Call to action">CTA</abbr> should point to a merchant site to start shopping
<tt class="docutils literal"><span class="pre">{{</span> <span class="pre">proceed_to_merchant_path</span> <span class="pre">}}</span></tt>.</li>
<li>To show coupon code use <tt class="docutils literal"><span class="pre">{{</span> <span class="pre">coupon_code</span> <span class="pre">}}</span></tt>.</li>
<li>To show expiration date use <tt class="docutils literal"><span class="pre">{{</span> <span class="pre">valid_until</span> <span class="pre">}}</span></tt>.
<a class="reference internal" href="../editor/filters.html#liquid-filter-format-date"><em>Formatting options</em></a>.</li>
</ul>
<p><br></p>
<img alt="Friend Claim Email" src="../../_images/friend-claim-email.png" />
<p><br></p>
<div class="highlight-html"><div class="highlight"><pre>Here is your {{ incentives.click.description }} OFF deal you just claimed!
Use it on any purchase by {{ valid_until }}
Coupon code: {{ coupon_code }}
<span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{{ proceed_to_merchant_path }}&quot;</span><span class="nt">&gt;</span>Shop now<span class="nt">&lt;/a&gt;</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Ideal email width is 480px. This is a most universal width for both
mobile and desktop platforms.
<a class="reference internal" href="../designer.html#designer-email"><em>Read more about email design</em></a>.</p>
</div>
<h2>Email sending conditions for Advocate</h2><p>By default is sent immediately after the reward is created, but can be delayed by configuration.</p>
<h2>Email sending conditions for Friend</h2><p>Main email sending criteria (unable to change):</p>
<ul class="simple">
<li>The Email <strong>will not</strong> be sent only if all three conditions meet:<ol class="arabic">
<li>Reward type is Click</li>
<li>‘Allow coupon in the Friend Share Email&#8217; is enabled inside Campaign Rules</li>
<li>Friend Share Email is already sent</li>
</ol>
</li>
</ul>
<p>In all other scenarious the email will be sent immediately unless delayed by configuration.</p>
</div>


          </div>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
  </div> <!-- /.content-container -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63500208-1', 'auto');
    ga('send', 'pageview');
  </script>
  </body>
</html>
